@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Barlow:wght@300;400;700");

html,
body {
  background-color: rgb(1, 13, 36);
  color: white;
  font-family: "Barlow", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: 700;
}

/* == intro navbar */
.nav_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav_bar img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.profile {
  border-radius: 50%;
}

/* == Intro */
.intro {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.intro h1 {
  font-size: 52px;
  text-shadow: 3px 3px #ff0000;
}
.intro p {
  font-size: 24px;
}
.intro div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.app_img {
  max-width: 400px;
  width: 70%;
  margin: 0 auto;
}

.landing_page {
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4rem;
}

.btn {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 50px;
  width: 200px;
  border-radius: 0.4rem;
  color: white;
  background-color: red;
  font-family: "Audiowide", sans-serif;
}
.btn:hover {
  border: 0.3rem solid black;
  box-shadow: 1px 1px 10px 5px rgb(158, 117, 117);
  cursor: pointer;
  rotate: -5deg;
  transition: rotate 0.5s ease;
  text-decoration: underline;
}

main {
  width: 90%;
  max-width: 900px;
  margin: 2rem auto 0 auto;
}

/* ======= Main application styles ========*/

/* scoreboard */
header h2 {
  font-size: 32px;
}
header {
  width: 80%;
  max-width: 500px;
  margin: 2rem auto 0 auto;
  padding: 1rem;
  border: 1px solid rgba(156, 156, 156, 0.733);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}
header h3 {
  text-transform: uppercase;
  align-self: center;
}
header section {
  display: flex;
  gap: 1rem;
  align-items: center;
}
header div {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: rgb(39, 39, 39);
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}
header p {
  font-size: 18px;
  font-weight: 700;
  color: blue;
}
.colon {
  font-size: 40px;
  color: white;
}

/* game */
.game {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rocknpaper {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.option {
  height: 100px;
  width: 100px;
  padding: 2rem;
  background-color: white;
  border-radius: 50%;
  border-width: 1.5rem;
  border-style: solid;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.option:hover {
  height: 105px;
  width: 105px;
}
.option:focus {
  border-color: black;
}
/* .option img {
  object-fit: cover;
  height: 50px;
} */
.rock {
  border-color: hsl(240, 82%, 57%);
}
.paper {
  border-color: hsl(24, 84%, 52%);
}
.scissors {
  align-self: center;
  border-color: hsl(0, 97%, 65%);
}

/*===== Awaiting result =====*/
.result-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.selection_container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 6rem;
}
.selection_container .option:hover {
  height: 100px;
  width: 100px;
}
.selection_container section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
}
.selection {
  display: flex;
}

.decision {
  align-self: center;
}
.decision h2 {
  font-size: 32px;
}
.action-btn {
  background-color: white;
  color: black;
  padding: 1rem 1.5rem;
  font-weight: 300;
  border-radius: 0.6rem;
  cursor: pointer;
}
.quit {
  color: red;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}
.quit-lg {
  align-self: flex-start;
  text-decoration: underline;
}

.decision-mobile {
  display: none;
}

/* == form styles */
.register {
  width: 40%;
  margin: 0 auto;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.register a {
  align-self: flex-start;
  color: red;
  text-decoration: underline;
}
.userName {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.userName fieldset {
  border-radius: 0.5rem;
  padding: 0 0.4rem;
  width: 200px;
}
.userName legend {
  letter-spacing: 0.1ch;
  padding: 0 0.5rem;
}
.userName input {
  background-color: transparent;
  border: 0;
  padding: 1rem;
  color: red;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.userName input:focus {
  outline: 0;
}
.userName button {
  width: 40%;
  max-width: 100px;
  padding: 0.3rem 0;
  background-color: red;
  color: white;
  border-radius: 0.4rem;
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  header div {
    padding: 0 0.1rem;
  }
  header p {
    font-size: 16px;
  }
  /* ======= Main application styles ========*/
  /* game */
  .game {
    margin-top: 10rem;
  }
  .option {
    height: 40px;
    width: 40px;
    border-width: 1rem;
  }
  .option:hover {
    height: 45px;
    width: 45px;
  }

  /* ====== awaiting result ====== */
  .selection_container {
    gap: 3rem;
    justify-content: space-between;
  }
  .selection_container section {
    flex-direction: column-reverse;
  }
  .selection_container .decision {
    display: none;
    background-color: red;
  }
  .selection_container .option:hover {
    height: 40px;
    width: 40px;
  }

  /* decision mobile */
  .decision-mobile {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .decision {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .decision h2 {
    font-size: 32px;
  }

  .quit:hover {
    text-decoration: underline;
  }
  .quit-lg {
    display: none;
  }

  /* ==form styles */
  .register {
    width: 90%;
  }
}
